/* =============================== */
/* RESET / BASE */
/* =============================== */

body {
  font-family: Arial, sans-serif;
  background-color: #464545;
  color: #ffffff;
  padding: 20px;
}
body {

  background-color:rgb(0, 0, 0);
}

.dark {
  background-color: #121212;
  color: rgb(0, 0, 0);
}