.imagem-home {
  width: 1430px;
  height: 600px;
  overflow: hidden;
  margin: -20px;
}

.imagem-home img {
  width: 100%;
  height: 100%;
}

.conteudo {
  margin-top: 40px;
}

.links-chimpanze {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links-chimpanze a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  background-color: #2e2e2e;
  border-left: 4px solid #9a9a9a;
}

.links-chimpanze a:hover {
  background-color: #ffd500;
  color: #000;
  border-radius: 4px;
}